.countdown-container {
    position: relative;
    z-index: 1000; /* Ensure it's above the background but below the navbar */
    margin-top: 35px; /* Adjust this value to be the height of your navbar */
  }
  
  /* Countdown Bar */
  .countdown-bar {
    width: 100%;
    background: linear-gradient(90deg, #349FD9, #FFFFFF, #0069d9);
    background-size: 300%;
    transition: background-position 0.5s ease;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
    
  }
  
  .countdown-bar:hover {
    background-position: 100%;
    color: white;
  }
  
  .countdown-bar .phrase {
    margin-top: 25px;
    margin-right: 20px;
    font-size: 1.5rem;
    
  }
  
  .countdown {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 800px;
    flex-wrap: nowrap; /* Ensure it stays horizontal */
  }
  
  .time-unit {
    text-align: center;
    margin: 0 15px;
    padding-top: 16px;
    
  
  }
  
  .time-unit .time-value {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    
  }
  
  .time-unit p {
    margin: 0;
    font-size: 1rem;
  }
  
  /* Make adjustments for smaller screens */
  @media (max-width: 768px) {
    .countdown-bar .phrase {
      font-size: 1.2rem;
      margin-right: 10px;
    }
  
    .countdown {
      width: 80%;
      max-width: 100%;
      justify-content: space-between;
    }
  
    .time-unit {
      margin: 0 5px;
    }
  
    .time-unit .time-value {
      font-size: 1.5rem;
    }
  
    .time-unit p {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .countdown-bar .phrase {
      font-size: 1rem;
    }
  
    .countdown {
      width: 100%;
      max-width: 100%;
    }
  
    .time-unit {
      margin: 0 3px;
    }
  
    .time-unit .time-value {
      font-size: 1.2rem;
    }
  
    .time-unit p {
      font-size: 0.7rem;
    }
  }
  