@font-face {
  font-family: 'Azonix';
  src: url('./Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



/* Partnership Banner Styles */
.partnership-banner {
  background: linear-gradient(90deg, #ffffff, #fbfbfb, #0069d9);
  background-size: 300%;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  overflow: hidden;
  transition: background-position 0.5s ease;
}

.partnership-banner:hover {
  background-position: 100%;
}

h4 {
  font-size: 1rem;
  margin-right: 15px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
  font-family: 'Azoniux', sans-serif; /* Example font for a modern look */
  
}

h4:hover {
  color: #ffffff;
}

.partners-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h4 {
  display: flex;
  align-items: center;
  margin: 0 15px;
  transition: transform 0.3s ease;
  font-weight: 700;
  font-family: 'Azonix', sans-serif;

}

h4:hover {
  transform: scale(1.1);
}

h4 img {
  max-height: 40px;
  margin-right: 10px;
  border-radius: 50px; /* Optional: Add rounded corners to logos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow for depth */
}

h4 span {
  font-size: 1rem;
  color: #333;
  transition: color 0.3s ease;
}

h4:hover span {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .partnership-banner {
    padding: 10px 15px;
  }

  h4 {
    font-size: 0.9rem;
    margin-right: 10px;
  }

  .partner img {
    max-height: 35px;
  }
}

@media (max-width: 768px) {
  .partnership-banner {
    padding: 10px 10px;
  }

  h4 {
    font-size: 0.8rem;
    margin-right: 0;
  }

  .partner img {
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .partnership-banner {
    padding: 5px 5px;
    flex-direction: column;
  }

  h4 {
    font-size: 0.7rem;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .partner img {
    max-height: 25px;
  }
}
